

NET "clk" LOC = A11; #C11
NET "rst" LOC = U1;
NET "rxd" LOC = V11;
NET "txd" LOC = AA10;
NET "sd_clk" LOC = A10;  #TP10
NET "cmd_i" LOC = A8;    #TP105
NET "finsh" LOC = W22;   #TP95


NET "clk" IOSTANDARD = LVCMOS33;
NET "rst" IOSTANDARD = LVCMOS33;
NET "rxd" IOSTANDARD = LVCMOS33;
NET "txd" IOSTANDARD = LVCMOS33;
NET "sd_clk" IOSTANDARD = LVCMOS33;
NET "cmd_i" IOSTANDARD = LVCMOS33;
NET "finsh" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 

#NET "sd_clk" DRIVE = 12;

NET "rst" CLOCK_DEDICATED_ROUTE = FALSE;

